
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
}

.menu {
    background-color: #528edd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu-list li {
    margin: 0 15px;
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-list a:hover {
    background-color: #0056b3;
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .menu-list li {
        margin: 10px 0;
    }
}

/*Formulario*/

form {
    max-width: 750px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group .radio-group {
    display: flex;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.secondary {
    background-color: #6c757d;
}

button.secondary:hover {
    background-color: #5a6268;
}
