body {
    background-color: #f4f4f9;
}

.menu {
    background-color: #528edd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu-list li {
    margin: 0 15px;
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-list a:hover {
    background-color: #0056b3;
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .menu-list li {
        margin: 10px 0;
    }
}

/* Janela */
.window {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Barra de título */
.title-bar {
    background-color: #e8e8e8;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ccc;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}


form {
    text-align: left;
}


form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

form input:focus {
    border-color: #007bff;
}

.list-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.student-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.student-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s;
}

.student-list li:hover {
    background-color: #f0f0f0;
}

.back-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}
